
*{
    margin: 0 auto;
}
.margin{
margin: 0 auto;;
}
/*font style*/

.quicksand-32 {
  font-family: "Quicksand", serif;
  font-size:2rem;
  font-weight: bold;
  color: black;

}
.quicksand-56 {
    font-family: "Quicksand", serif;
    font-size:3.5rem;
    font-weight: bold;
    color: black;
    margin-top: 24px;
  
  }
  .quicksand-46 {
    font-family: "Quicksand", serif;
    font-size:2.8rem;
    font-weight: bold;
    color: black;
    margin-top: 24px;
  
  }
  .quicksand-20 {
    font-family: "Quicksand", serif;
    font-size:1.2rem;
    font-weight:400;
    margin-top:24px ;
  
  }



/*button styles*/

.btn-style{
    font-size: 1.2rem;
    font-weight: 700;
    border-radius:0.75rem;
    color: white;
    border: none;
    background-color: orange;
    padding: 10px 60.5px;
}
.btn-style2{
  font-size: 1.2rem;
  font-weight: 700;
  border-radius:0.75rem;
  color: white;
  border: none;
  background-color: black;
  padding: 10px 60.5px;
  margin-top: 24px;
}
/*color styles*/

  /*Body styles*/

    .hide-in-pc{
        display: none;
    }        
   /*flex style*/
   .flex{
    display: flex;
   }

  /*header style*/

.header-container{
    margin-top: 15px;
  }
header>div>img{
    height:62px;
    width: 62px;
}
header>div>h3{
    margin-top:17px;}
.navbar .nav-links li:nth-child(1) a{
    color: orange;
}
.navbar .nav-links li:nth-child(2) a{
    color:skyblue;
}

.navbar .nav-links li:nth-child(3) a{
    color:#05D4DF;
}
.navbar .nav-links li:nth-child(4) a{
        color:#5D58EF;
}
    
  nav>ul{
    display: flex;
  }
  nav li{
    list-style:none;
    margin-bottom:10px;
    padding: 5px;;
  }
  nav li a{
    text-decoration: none;
  }

  @media screen and (max-width:576px) {
    .hide-in-pc{
        display:block;
    }
    .hide{
        display: none;}

     header>div>img{
            height:46px;
            width: 46px;
        }

    .bars{
       width: 30px;
       height: 30px;
       margin-top:10px;
    }
   
    .header-container{
      gap:282px;
  
    }
   hr{
    border: 1px solid orange; 
    margin-top: 10px;
   }
    
  }

  /*banner style*/
.color-or{
  color: orange;
}
.color-sky{
  color:skyblue;
}
.Standard-Curriculum-container{
  display: flex;
}

@media screen and (max-width:576px) {

  br{
    display: none;
  }
  .Standard-Curriculum-container{
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px;
  }
  .kid-pic{
    height:413px ;
    width: 336.58px;

  }
  .quicksand-56{
    font-size:2rem;
  }
  .quicksand-20{
    font-size:0.8rem;
  }
  .btn-style2{
    font-size:16px;
    padding: 6px 24px;
    border-radius:8px;
  }
}